<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
<!--    <filter>
        <filter-name>GuestManagementFilter</filter-name>
        <filter-class>filter.GuestManagementFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GuestManagementFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>control.dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDAO</servlet-name>
        <servlet-class>dal.EmployeeDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listUser</servlet-name>
        <servlet-class>control.listUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>control.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>control.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <servlet-class>control.editUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRoom</servlet-name>
        <servlet-class>control.listRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listEmployee</servlet-name>
        <servlet-class>control.listEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEmployee</servlet-name>
        <servlet-class>control.deleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editEmployee</servlet-name>
        <servlet-class>control.editEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEmployee</servlet-name>
        <servlet-class>control.addEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileServlet</servlet-name>
        <servlet-class>control.ViewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileUser</servlet-name>
        <servlet-class>control.updateProfileUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchEmployee</servlet-name>
        <servlet-class>control.searchEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchUser</servlet-name>
        <servlet-class>control.searchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listGuest</servlet-name>
        <servlet-class>control.listGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>control.booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRoomHK</servlet-name>
        <servlet-class>control.listRoomHK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingList</servlet-name>
        <servlet-class>control.bookingList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingDetail</servlet-name>
        <servlet-class>control.bookingDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addGuest</servlet-name>
        <servlet-class>control.addGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hideGuest</servlet-name>
        <servlet-class>control.hideGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hiddenListGuest</servlet-name>
        <servlet-class>control.hiddenListGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>restoreGuest</servlet-name>
        <servlet-class>control.restoreGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewGuest</servlet-name>
        <servlet-class>control.viewGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackcontroller</servlet-name>
        <servlet-class>control.feedbackcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editGuest</servlet-name>
        <servlet-class>control.editGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBooking</servlet-name>
        <servlet-class>control.deleteBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchBooking</servlet-name>
        <servlet-class>control.searchBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editBooking</servlet-name>
        <servlet-class>control.editBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>control.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendBookingCode</servlet-name>
        <servlet-class>control.sendBookingCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listItem</servlet-name>
        <servlet-class>control.listItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addItem</servlet-name>
        <servlet-class>control.addItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editItem</servlet-name>
        <servlet-class>control.editItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRoomAmenities</servlet-name>
        <servlet-class>control.ShowRoomAmenities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRoomAmenity</servlet-name>
        <servlet-class>control.listRoomAmenity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAmenityStatus</servlet-name>
        <servlet-class>control.updateAmenityStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAmenityQuantityServlet</servlet-name>
        <servlet-class>control.UpdateAmenityQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRoomStaff</servlet-name>
        <servlet-class>control.listRoomStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomItem</servlet-name>
        <servlet-class>control.roomItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editItemQuantity</servlet-name>
        <servlet-class>control.editItemQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>control.deleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAmenByRoomtype</servlet-name>
        <servlet-class>control.UpdateAmenByRoomtype</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAmenitiesByRoomType</servlet-name>
        <servlet-class>control.viewAmenitiesByRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkRoomAmenities</servlet-name>
        <servlet-class>control.checkRoomAmenities</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>listService</servlet-name>
        <servlet-class>control.listService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>control.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addService</servlet-name>
        <servlet-class>control.addService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDetail</servlet-name>
        <servlet-class>control.viewDetailRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>control.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword</servlet-name>
        <servlet-class>control.forgotpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAmenity</servlet-name>
        <servlet-class>control.addAmenity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listAmenity</servlet-name>
        <servlet-class>control.listAmenity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAmenity</servlet-name>
        <servlet-class>control.deleteAmenity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAmenity</servlet-name>
        <servlet-class>control.editAmenity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>control.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewsServlets</servlet-name>
        <servlet-class>control.CreateNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>control.changePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDAO</servlet-name>
        <url-pattern>/EmployeeDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listUser</servlet-name>
        <url-pattern>/listUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRoom</servlet-name>
        <url-pattern>/listRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listEmployee</servlet-name>
        <url-pattern>/listEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEmployee</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editEmployee</servlet-name>
        <url-pattern>/editEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEmployee</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listService</servlet-name>
        <url-pattern>/listService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addService</servlet-name>
        <url-pattern>/addService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDetail</servlet-name>
        <url-pattern>/viewDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAmenity</servlet-name>
        <url-pattern>/addAmenity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listAmenity</servlet-name>
        <url-pattern>/listAmenity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAmenity</servlet-name>
        <url-pattern>/deleteAmenity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAmenity</servlet-name>
        <url-pattern>/editAmenity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/NewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewsServlets</servlet-name>
        <url-pattern>/CreateNewsServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileServlet</servlet-name>
        <url-pattern>/ViewProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileUser</servlet-name>
        <url-pattern>/updateProfileUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchEmployee</servlet-name>
        <url-pattern>/searchEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchUser</servlet-name>
        <url-pattern>/searchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listGuest</servlet-name>
        <url-pattern>/listGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRoomHK</servlet-name>
        <url-pattern>/listRoomHK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingList</servlet-name>
        <url-pattern>/bookingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingDetail</servlet-name>
        <url-pattern>/bookingDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addGuest</servlet-name>
        <url-pattern>/addGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hideGuest</servlet-name>
        <url-pattern>/hideGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hiddenListGuest</servlet-name>
        <url-pattern>/hiddenListGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>restoreGuest</servlet-name>
        <url-pattern>/restoreGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewGuest</servlet-name>
        <url-pattern>/viewGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackcontroller</servlet-name>
        <url-pattern>/feedbackcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editGuest</servlet-name>
        <url-pattern>/editGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBooking</servlet-name>
        <url-pattern>/deleteBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchBooking</servlet-name>
        <url-pattern>/searchBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editBooking</servlet-name>
        <url-pattern>/editBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendBookingCode</servlet-name>
        <url-pattern>/sendBookingCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listItem</servlet-name>
        <url-pattern>/listItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addItem</servlet-name>
        <url-pattern>/addItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editItem</servlet-name>
        <url-pattern>/editItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRoomAmenities</servlet-name>
        <url-pattern>/showRoomAmenities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRoomAmenity</servlet-name>
        <url-pattern>/listRoomAmenity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAmenityStatus</servlet-name>
        <url-pattern>/updateAmenityStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAmenityQuantityServlet</servlet-name>
        <url-pattern>/UpdateAmenityQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRoomStaff</servlet-name>
        <url-pattern>/listRoomStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomItem</servlet-name>
        <url-pattern>/roomItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editItemQuantity</servlet-name>
        <url-pattern>/editItemQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/deleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAmenByRoomtype</servlet-name>
        <url-pattern>/UpdateAmenByRoomtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAmenitiesByRoomType</servlet-name>
        <url-pattern>/viewAmenitiesByRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkRoomAmenities</servlet-name>
        <url-pattern>/checkRoomAmenities</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>guestHomePage.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
     <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/exceptionErrorPage.jsp</location>
    </error-page>
     <error-page>
        <!-- Specify the exception type to handle -->
        <exception-type>java.lang.Exception</exception-type>
        <!-- Specify the page to be redirected to when the exception occurs -->
        <location>/exceptionErrorPage.jsp</location>
    </error-page>
</web-app>
