.button-header {
    display: flex;
    flex-direction: row; /* Keeps the buttons in a row */
    gap:2px;    
}
.card{
    padding: 0;
}

.button {
    display: block;
    width: 80px; /* Keeps the width of the button tight around the content */
    height: 30px;
    font-size: 12px;
    border: 1px solid gray;
    padding: 5px 3px; /* Add some padding for better spacing inside the button */
}

.title-card-header {
    display: block;
    width: 100%;
    text-align: center; /* Centers the text content inside */
}

.warn {
    background-color: orangered;
}

.okay {
    background-color: greenyellow;
}
